/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 100vh;
        width: 100vw;
        
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
        table-layout: fixed;
        
}

td {
        width: 40px;
        height: 40px;
        text-align: center;
        vertical-align: middle;
}

td:first-child {
        border-right: 1px solid black;
}

td:last-child {
        border-left: 1px solid black;
}

tr:first-child {
        border-bottom: 1px solid black;
}

tr:last-child {
        border-top: 1px solid black;
}

input[type=text] {
        border: none;
        font-size: 18px;
        height: 20px;
        margin-left: 10px;
}

label {
        font-size: 14px;
}

label[for=playerTwoName],
label[for=playerOneName] {
        flex: 1 0 auto;
}

.main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;

        margin-left: 80px;
        width: 300px;
        height: 100%;
}

div.player {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
}

table.gameBoard {
        margin-left: 80px;
}

div.intro {
        margin-top: 100px;
}

p.info {
        text-align: center;
        
}

h1 {
        margin-left: 80px;
        margin-bottom: 20px;
        font-size: 32px;
}

button.play {
        margin: 30px 0px 0px 90px;
        width: 80px;
        padding: 5px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 10px;
}

.oBox,
.xBox {
        width: min-content;
        text-align: center;
}

